/*

	Stylesheet that picks up defaults for basic roads and buildings, then
	shows nodes and ways for sustainable feature mapping

	Tom Chance, 2010

*/

/* A set of fairly standard rules.
  We use z-index to make sure high-priority roads appear above minor ones.
  The default z-index is 5. If an object matches multiple rules with the same
  z-index then the rules are "merged" (but individual properties become one or the other)  */

/* Generic styles */
way .highlighted { color: pink; }
way :hover	{ z-index: 2; width: eval('_width+10'); color: #ffff99; }
way :selected { z-index: 2; width: eval('_width+10'); color: yellow; opacity: 0.7;}
way :restrictfrom { z-index: -1; width: eval('_width+10'); color: red; opacity: 0.7;}
way :restrictto { z-index: -1; width: eval('_width+10'); color: blue; opacity: 0.7;}
way :tiger { casing-color: #ff00ff;}
/*way !:drawn !:hasTags{ z-index:10; width: 0.5; color: red; }*/

/* Energy generators */
node[power=generator] { icon-image: /pois/power_default.png; z-index: 20; }
node[generator:source=solar] { icon-image: /pois/power_solar.png; z-index: 20; }
node[generator:source=wind] { icon-image: /pois/power_wind.png; z-index: 20; }
node[generator:source=biomass], node[generator:source=biogas], node[generator:source=biofuel] { icon-image: /pois/power_biomass.png; z-index: 20; }
node[generator:source=geothermal] { icon-image: /pois/power_geothermal.png; z-index: 20; }
node[generator:source=hydro] { icon-image: /pois/power_hydro.png; z-index: 20; }
node[generator:source=sea] { icon-image: /pois/power_sea.png; z-index: 20; }
node[generator:source=waste] { icon-image: /pois/power_waste.png; z-index: 20; }

/* Waste and recycling */
node[amenity=recycling] { icon-image: /pois/waste_recycle.png; z-index: 20; }
node[amenity=waste_transfer_station] { icon-image: /pois/waste_recycle.png; z-index: 20; }
way[amenity=waste_transfer_station] { z-index: 10; fill-color: #6517d9; fill-opacity: 0.2; set .area_small_name; }

/* Food */
way[landuse=allotments] { z-index: 10; color: #3b1e03; width: 1; fill-color: #824107; fill-opacity: 0.2; set .area_small_name; }
node[amenity=marketplace] { icon-image: /pois/food_market.png; z-index: 20; }
